body {
    background-color:  #1B1B1B;
}
h1 {
    color: #F5F5F5;
    text-align: center;
}
 p{
    color: #F5F5F5;
  }
  h4{
    color: #F5F5F5;
}
h2{
    color: #F5F5F5;
}
h3{
    color: #F5F5F5;
}
h6{
    color: #F5F5F5;
}
h5 {
    color: #F5F5F5
}
figcaption {
    color: #F5F5F5;
}

dt {
    color: #F5F5F5;
}
dl {
    color: #F5F5F5;
}
ul {
    color: #F5F5F5;
}
.div1 {
    color: #F5F5F5;
}
a:link {
    color: #F5F5F5;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(255, 251, 200);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }